* {
  box-sizing: border-box;
}

.as_item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

/* Animations */
[data-aos="example-anim1"] {
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
[data-aos="example-anim1"].aos-animate {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  opacity: 1;
}

[data-aos="example-anim2"] {
  background: red;
  -webkit-transition-property: background;
  transition-property: background;
}
[data-aos="example-anim2"].aos-animate {
  background: green;
}

[data-aos="example-anim3"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
[data-aos="example-anim3"].aos-animate {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1;
}



/* -------- */






.revea{
	 -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
	padding:30px;
	font-size:14px;
	/* background:#0CF; */
	height:85px;}
.sticky{
	position:fixed;
	top:0px;
	color:#000;
	z-index:999999;
	width:100%;
	/* padding:15px 10px; */
	height:50px;
	margin:0px;
	z-index:9999999999999999999999999999;
	opacity:1;
	background:rgb(35 111 124 / 77%);
	
	}
	.fxd{
		
		/* padding:0px 0px; */
		/* background:red; */
		/* height:250px; */
		  -webkit-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
		
	/* color:green; */
}
	
	.fxd.sticky{
		top:-20px;
		height:20px;
		margin-bottom:15px;
  }
		
		

	.mrsticky{
		margin-top:100px;}
